.btnn {
  margin-top: 2rem;
}

.about-me {
  width: 50%;
}
.about-me p {
    font-size: 1.5rem;
    font-weight: 600;
}

#about h2 {
  font-size: 4rem;
  font-weight: bold;
}

.about-container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.img-cont {
  height: 400px;
  border-radius: 2.5rem;
}
.about-content h3 {
  font-size: 4.5rem;
}
.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
.img-container {
  margin-right: 9rem;
}

.about-me h3 p {
  margin-left: 2rem;
}


@media screen and (max-width: 1024px){

}
@media screen and (max-width: 834px){

}
@media screen and (max-width: 768px){
  section {
    padding: 1rem 4% 1rem !important;
  }
  .img-container {
    margin-right: 5rem;
}
.img-cont {
  height: 350px;
  border-radius: 2.5rem;
}
.about-me h2 {
  font-size: 3.3rem ;
}
.about-me p {
  font-size: 1.3rem ;
}
}
@media screen and (max-width: 480px){
.about-container {
  text-align: center;
}
}


