.image-container {
  display: flex;
  align-items: center;
}

.home-content h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: #ffa914;
}
.home-content {
  margin-top: 2rem;
}
.home-content h1 {
  color: rgb(5, 96, 183);
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img {
  width: 21vw;
  border-radius: 80%;
  float: right;
  animation: floatImage 3.8s ease-in-out infinite;
}

.btnlayout {
  margin: 60px 20px 20px 0px;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* /* Shrinking for mobile */
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}


@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 500;
}
.social-media {
  margin-left: 1rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  width: 4rem;
  background: transparent;
  border: 2px solid #87cefa;
  border-radius: 1rem;
  margin: 6rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  color: var(--snd-bg-color);
  background-color:#64bdf5;;;
}
.social-media i {
  font-size: 2rem;
    margin-left: 1rem;
    color: #059cf9;
}

@media screen and (max-width: 1024px){

}
@media screen and (max-width: 834px){
  .home-content {
    padding: 100px 0px !important;
}
.home-content h3{
  font-size: 12px;

}
.home-content h1{
   font-size: 32px !important;
}
.home-content h3 {
  font-size: 1.5rem;

}
.btnn {
  padding: 1rem !important;
}
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 482px){
  h1{
    font-size: 22px !important;
 }
 h3{
  font-size: 16px !important;

}
.about-container {
  display: block;
 
}
.img-cont {
  margin-left: 6rem;
}
.about-me {
  width: 100%;
  padding: 0 0.5rem;
}
.box {
  display: block;
}
}